<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<head>
    <title>Wrong passphrase</title>
    <link href="/css/MyStyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

</head>
<body>
<div id="errorZone">
Uh-huh!! That doesn't seem right. Wanna give it another try?
</div>
</body>
</html>