<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<head>
    <title>Welcome to the quiz!</title>
    <link href="/css/MyStyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

</head>
<body>
<div id="quizblock">
    What is the third question?
    <form action = "/hello" method="post" >
        <div id="answer">
            <br/>
            <input id=answerfield name="answer" required placeholder="..." onclick="clearErrorMessage() " autocomplete="off"/>
        </div>
    </form>
</div>
</body>
<script src="../js/RandomBGColor.js"></script>
</html>