<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<head>
    <title>Welcome to our world</title>
    <link href="/css/MyStyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

</head>
<body>
<p id="textM">Enter the Magic Word</p>
<form action = "/" method="post" >
    <div id="magicZone">
        <br />
        <input id=pass name="password" required placeholder="..." onclick="clearErrorMessage() " autocomplete="off"/>
        <input id=arrow type="image" src="/images/arrow.png" class="submit" />
    </div>
</form>
</body>
<script src="../js/RandomBGImage.js"></script>
</html>