<h1>Yikes! That is not the right answer! Wanna go back and try again?</h1>
<button onclick="goBack()"> Take Me Back! </button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
