<!DOCTYPE html>
<html>
<meta charset="utf-8"/>
<head>
    <title>Congratulations!</title>
    <link href="/css/MyStyle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

</head>
<body>
<div id="magicZone">
    Are you ready for the quiz?
    <form action = "/a" method="get" >
            <br/>
            <button > Continue</button>
    </form>
</div>
</body>
<script src="../js/RandomBGImage.js"></script>
</html>